.ball {
  width: 150px;
}
.table {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 20px;
}
.ball {
  /* transform: rotate(50deg);
    transform: scale(2); */
  animation: ball 3s infinite linear;
}
@keyframes ball {
  0% {
    transform: translateX(10%);
    /* transform: scale(2); */
  }
  15% {
    transform: translateX(100%) translateY(400%) rotate(-360deg) scale(2);
  }
  30% {
    transform: translateX(250%);
  }
  45% {
    transform: translateX(450%) translateY(400%) rotate(-360deg) scale(2);
  }
  60% {
    transform: translateX(600%);
  }
  77% {
    transform: translateX(680%) translateY(100%) rotate(360deg) scale(0.01);
  }
  79% {
    transform: translateX(680%) translateY(140%) rotate(220deg) scale(0.5);
  }
  80% {
    transform: translateX(680%) translateY(200%) scale(0.1) rotate(50deg);
  }
  81% {
    transform: translateX(700%) translateY(350%) scale(0.7) rotate(300deg);
  }
  90% {
    transform: translateX(700%) translateY(400%) rotate(-360deg) scale(1);
  }
  95% {
    transform: translateX(700%) translateY(500%) rotate(20deg);
  }
  100% {
    transform: translateX(750%) translateY(300%);
  }
}
h1 {
  color: orange;
  text-align: center;
  margin-right: 100px;
  animation: pts 3s infinite linear;
  position: absolute;
  top: 50px;
  right: 100px;
}
@keyframes pts {
  0% {
    transform: scale(0.0001);
  }

  75% {
    transform: scale(0.0001);
  }
  76% {
    transform: scale(3);
  }
  80% {
    transform: scale(3);
    color: red;
  }
  85% {
    transform: scale(3);
    color: orange;
  }
  90% {
    transform: scale(3);
    color: red;
  }
  93% {
    transform: scale(3);
    color: orange;
  }
  97% {
    transform: scale(3);
    color: red;
  }
  100% {
    transform: scale(3);
    color: orange;
  }
}
