* {
  box-sizing: border-box;
}
div {
  background-color: white;
  width: 500px;
  margin: auto;
  border: 1px solid rgba(128, 128, 128, 0.493);
  margin-top: 5px;
  border-radius: 1%;
}
body {
  background-color: rgba(128, 128, 128, 0.301);
}
header img {
  width: 15em;
}
a {
  text-decoration: none;
  margin: 20px;
  text-align: center;
  color: black;
  font-weight: bold;
}
header {
  text-align: center;
  width: 500px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 1%;
  border: 1px solid rgba(128, 128, 128, 0.493);
}
.box1 {
  max-height: 600px;
}
div h3 {
  text-align: center;
  margin: 5px;
  margin-top: 15px;
  margin-bottom: 0px;
}
div img {
  max-width: 480px;
  padding: 1rem;
  margin: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.apie {
  text-align: justify;
  padding: 20px;
  /* margin: 10px;} */
  padding-top: 0px;
  padding-bottom: 0px;
}
.box2 {
  max-height: 1000px;
}
h4 {
  text-align: center;
  margin-bottom: 10px;
}
.img2 {
  width: 150px;
  display: block;
  margin: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}
.bold {
  font-weight: bold;
}
.center {
  text-align: center;
}
.nomargin {
  margin: 0px;
}
.m20 {
  margin-top: 20px;
}
.mb {
  margin-bottom: 20px;
}
.box3 {
  border-radius: 1%;
}
iframe {
  max-width: 460px;
  max-height: 300px;
  margin-left: 20px;
  margin-bottom: 10px;
}
footer {
  text-align: center;
  margin: 1em;
}
