* {
  box-sizing: border-box;
}
div {
  border: 3px solid white;
  margin: auto;
  margin-top: 2rem;
  text-align: center;
  color: white;
}
body {
  background-color: rgba(189, 30, 83, 0.377);
}
.box1 {
  width: 500px;
  padding: 2rem;
}
.box1 img {
  width: 100%;
}
.box2 {
  border: 3px solid white;
  width: 500px;
  margin: auto;
  margin-top: 2rem;
  padding: 1.5rem;
  text-align: center;
  color: rgb(48, 14, 33);
  background-image: url(https://img.freepik.com/free-photo/view-mountains-landscape-huesca_1398-5217.jpg?w=740&t=st=1687190974~exp=1687191574~hmac=b027dd16c7a6459aa4f29055545d8c1cc3a74469470a7b816feaa2b90e824887);
}
.box3 {
  text-align: center;
  width: 600px;
  border: 5px solid white;
  margin: auto;
  color: white;
  margin-top: 2rem;
  padding: 2em;
  height: 20em;
  background-image: url(https://img.freepik.com/free-photo/beautiful-shot-snowy-mountain-sunset_181624-37878.jpg?w=740&t=st=1687192303~exp=1687192903~hmac=6cdd40d73c9166c0f7e290a7436972fc3f7e34677f34fda801ef8fe49726d020);
  
}
