header {
  background-color: black;
  width: 100%;
}
header img {
  width: 100px;
  display: block;
  /* padding-left: auto; */
  margin: auto;
  padding-top: 20px;
}
.white {
  color: white;
}
div,
table {
  width: 65%;
  margin: auto;
  /* border: 1px solid white; */
}
.d1 {
  background-color: orange;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12px;
}
.d1 a {
  text-decoration: none;
  margin: 5px;
  padding: 5px;
  color: white;
}
p {
  text-align: justify;
  font-size: 12px;
}
.box {
  /* box-sizing: border-box; */
  background-color: rgb(206, 18, 18);
  color: white;
  text-align: center;
  width: 100px;
  height: 20px;
  padding-top: 4px;
  border-radius: 5px;
  padding-bottom: 0px;
  font-size: 12px;
}
.box a {
  vertical-align: center;
  color: white;
}
.d2 {
  width: 100%;
  background-color: rgb(41, 13, 68);
  height: 230px;
  margin-top: -2px;
}
.tab {
  color: white;
  padding-top: 15px;
}
th,
td {
  border: 2px solid red;
  font-size: 10px;
}
table {
  border-collapse: collapse;
  color: white;
}
th,
td:first-child {
  text-align: center;
}
td:last-child {
  text-align: right;
}
td {
  height: 20px;
}
li {
  font-size: 12px;
}
p a {
  font-size: 11px;
  font-weight: bold;
}
.center {
  text-align: center;
}
footer {
  text-align: center;
  color: white;
  background-color: orange;
  font-size: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
}
h3 {
  margin-top: 10px;
}
