*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  /* colors */
  --main-color: rgb(100, 92, 255);
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Roboto", sans-serif;
}
.main-color {
  color: var(--main-color);
}
.main-color-backgr {
  background-color: var(--main-color);
  color: white;
}
/* Header dalis */
.head-cont {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.soc-icons {
  display: flex;
  max-height: 30px;
  align-items: center;
}
header ul li {
  list-style-type: none;
}
.soc-icons a:last-child {
  margin-right: 10px;
}

header h4 {
  margin-left: 20px;
  font-weight: bold;
}
nav ul li a {
  text-decoration: none;
  font-size: 12px;
  font-weight: 600;
  color: black;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-content: center;
}
.nav-up {
  /* display: flex; */
  display: none;
}
nav ul li a {
  margin: 0 5px;
}
@media screen and (min-width: 768px) {
  .nav-up {
    display: flex;
  }
}
/* ----------- */

/* Main dalis */
/* Section1 */
.first-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* align-content: center; */
  padding: 0 10vw;
  /* display: none; */
}
.first-section h2 {
  font-weight: normal;
  font-size: 2rem;
  letter-spacing: 8px;
  text-align: center;
}
.first-section p {
  font-size: 0.7rem;
  line-height: 2;
  text-align: center;
}
.first-section .button {
  text-align: center;
  font-size: 0.72rem;
  margin-top: 15px;
  width: 90px;
  padding: 4px 0;
  margin: 15px auto;
  /* border: 1px solid rgb(89, 81, 236); */
  border-radius: 3px;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.1),
    0 2px 2px -1px rgba(0, 0, 0, 0.06);
}
@media screen and (min-width: 768px) {
  .first-section {
    background: linear-gradient(rgba(74, 63, 218, 0.7), rgba(0, 0, 0, 0.7)),
      url("https://images.unsplash.com/photo-1504280317859-9c6cce36bca8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format")
        center/cover no-repeat;
  }
}

/* ------------- */

/* about */
.foto {
  width: 100%;
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  width: 90vw;
  margin: auto;
  /* display: none; */
}
.about p {
  text-align: justify;
  font-size: 9px;
  font-weight: 500;
  margin-bottom: 4px;
}
.about h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 40px 0 5px 0;
}
.section2 h2 {
  text-align: center;
  letter-spacing: 6px;
  /* font-size: 2rem; */
  margin: 40px 0;
  font-weight: 500;
}
.section2 {
  padding-bottom: 30px;
}
.about a {
  text-decoration: none;
  font-size: 0.6rem;
  margin-top: 8px;
  margin-bottom: 70px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
  }
  .section2 {
    padding-bottom: 60px;
  }
  .explore-text {
    /* margin-left: 30px; */
    margin: auto 0 auto 30px;
  }
  .border-box {
    width: 95%;
    height: 95%;
    border: 4px solid var(--main-color);
  }
  .about img {
    /* width: 95%; */
    /* height: 95%; */
    position: relative;
    right: -10px;
    bottom: -8px;
  }
}
/* section 2 end */

/* Section 3 */

.services {
  background-color: #f8fafc;
  display: flex;
  flex-direction: column;
  /* display: none; */
}
.services h2 {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 500;
  margin: 40px 0;
}
.services .services-cont {
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 15px;
  padding: 15px;
}
.serv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 60px;
}
.services h3 {
  letter-spacing: 2px;
}
.services i {
  padding: 10px 7px;
  background-color: var(--main-color);
  color: black;
  font-size: 0.8rem;
}
@media screen and (min-width: 768px) {
  .serv {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    padding: 0 4rem;
  }
  .services-cont {
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
  .services-cont h3 {
    margin: 0;
    text-align: justify;
  }
  .services-cont p {
    text-align: left;
    margin: 0;
    width: 120px;
    margin-top: 5px;
  }
}
/* END SERVICES */

/* Tours section */
.tours h2 {
  text-align: center;
  margin: 40px 0;
}
.tour-cont {
  width: 90vw;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.1),
    -2px 2px 2px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 40px;
}
.tours {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* display: none; */
}
.tours .tour-info {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 20px 10px;
}
.tours .country {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.tours .country span {
  margin-right: 3px;
  font-size: 0.7rem;
}
.tours .tour-time-cost {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tours p {
  margin: 0;
  font-size: 0.6rem;
}
.tours .date {
  font-size: 0.6rem;
  position: absolute;
  top: 10px;
  padding: 3px;
  color: black;
}
.tours h5 {
  margin-left: 10px;
  letter-spacing: 1px;
}
.all-tours {
  text-decoration: none;
  margin-bottom: 60px;
  font-size: 0.7rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .tours-container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    gap: 1.5rem;
    margin: 0 50px;
  }
  .tour-cont {
    max-width: 31%;
  }
}

/* Gallery */
.gallery-cont {
  background-color: var(--main-color);
}
.gallery {
  background-color: #f8fafc;
  width: 100vw;
  /* display: none; */
}
.gallery h2 {
  text-align: center;
  letter-spacing: 5px;
  font-weight: 500;
  padding-top: 20px;
}
@media screen and (min-width: 768px) {
  .gallery-cont {
    display: flex;
  }
  .gallery-cont img {
    max-width: 25vw;
  }
}
/* Gallery end */

/* OFFERS */
.offers {
  /* width: 100vw; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}
.input-box {
  width: 50vw;
  display: flex;
  margin: 0 auto;
}
::placeholder {
  color: black;
}
.email-input {
  flex: 1 1 auto;
  overflow: hidden;
  /* max-width: 60%;
  outline: none; */
  font-size: 0.7rem;
  border: 2px solid white;
  padding-left: 10px;
  outline: none;
}
.upd-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.offers h2 {
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 500;
}
.offers form {
  width: 50vw;
}
.offers h5 {
  font-weight: 500;
}
.submit-btn {
  border: 2px solid white;
  flex: 1 1 auto;
  font-size: 0.7rem;
  outline: none;
}
@media screen and (min-width: 768px) {
  .submit-btn {
    max-width: 15%;
  }
  .offers h2 {
    letter-spacing: 8px;
    font-size: 2rem;
    margin: 5px 5px;
  }
  .offers .upd-box h5 {
    font-size: 1rem;
    margin-top: 5px;
    margin-right: auto;
    padding-left: 10px;
  }
}

/* FOOTER` */
footer ul li {
  list-style-type: none;
}
footer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 40px 0;
}
.nav-bottom a {
  color: white;
  font-weight: 400;
}
.nav-bottom ul,
footer .soc-icons {
  padding: 0;
  font-size: 0.8rem;
}
footer p {
  font-size: 0.6rem;
  /* margin-bottom: 60px; */
}
@media screen and (min-width: 768px) {
  .nav-bottom a,
  footer p {
    font-size: 1rem;
  }
  footer .soc-icons {
    font-size: 1rem;
  }
}
