* {
  box-sizing: border-box;
  font-family: roboto, sans serif;
}
body {
  overflow-x: hidden;
}
.cont-position {
  width: 90vw;
  margin: auto;
}
img {
  border-radius: 10px;
}
p {
  color: gray;
}
p:hover:not(footer p) {
  /* font-size: 1.2rem; */
  text-shadow: 1px 1px 1px black;
}
h3:hover:not(.sect6 h3),
h4:hover:not(.sect6 h4),
h5:hover:not(.sect6 h5) {
  font-size: 1.2rem;
  color: rgb(75, 27, 187);
  text-shadow: 1px 1px 1px red;
  text-decoration: underline;
}
h1:hover,
h2:hover {
  font-style: italic;
  text-shadow: 1px 1px 1px green;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
header img {
  max-height: 30px;
}
header img:hover {
  max-height: 70px;
}
.header-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.get-started-btn {
  margin-left: 40px;
  padding: 10px;
  border: 2px solid lightgrey;
  border-radius: 25px;
  text-decoration: none;
}
header a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(68, 24, 126);
}
header nav a {
  margin: 0 10px;
}
header nav a:hover {
  font-size: 1.1rem;
  text-decoration: underline;
  text-shadow: 1px 0 0 rgb(12, 11, 11);
}
header .get-started-btn:hover {
  color: white;
  background-color: blue;
}

/* --------- */
/* section 1 */
.color-btn {
  padding: 12px;
  border-radius: 25px;
  background-color: tomato;
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.color-btn:hover {
  background-color: chocolate;
  color: yellow;
  text-shadow: 1px 1px 1px black;
}
.sect1 {
  display: flex;
}
.sect1 h1 {
  font-size: 2rem;
  line-height: 1.3;
}
.sect1-left-cont {
  width: 35vw;
  margin: 10px 50px 0 0;
}
.sect1-img-cont {
  width: 55vw;
  position: relative;
  height: 350px;
  /* border: 1px solid black; */
  max-width: 500px;
  margin-left: auto;
}

.sect1-left-cont p {
  margin-bottom: 50px;
  font-size: 0.9rem;
}

.dotted {
  width: 100px;
  height: 40px;
  border: 9px dotted yellow;
  position: absolute;
  right: 0;
  top: 50px;
}
.dotted:hover {
  border-color: orange;
}
.dotted .child {
  width: 9px;
  height: 0;
  margin: auto;
  border: 9px dotted yellow;
}
.dotted .child:hover {
  border-color: green;
}
.sect1-img-cont .img1 {
  position: absolute;
  height: 250px;
  top: 20px;
}
.sect1-img-cont .img1:hover {
  height: 300px;
  z-index: 1;
}
.sect1-img-cont .img2 {
  position: absolute;
  height: 150px;
  bottom: 0px;
  right: -20px;
}
.sect1-img-cont .img2:hover {
  height: 220px;
}
.sect1-img-cont .img3 {
  position: absolute;
  width: 260px;
  height: 300px;
  right: -100px;
  /* z-index: -1; */
  /* overflow: hidden; */
}
.sect1 .img3:hover {
  width: 390px;
  z-index: 1;
}

/* ------------ */

/* Clients section */
.clients {
  background-image: url(https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-radius: 10px;
}
.clients .clients-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  padding-bottom: 50px;
}
.clients .clients-cont img {
  max-width: 90px;
}
.clients .clients-cont img:hover {
  max-width: 120px;
}
.clients h3 {
  margin: 50px;
}
/* --------- */

/* Section3 */
.sect3 {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  column-gap: 2rem;
  padding-bottom: 100px;
}

.sect3-left-cont {
  position: relative;
  width: 35vw;
}
.sect3-left-cont h2 {
  color: rgb(68, 24, 126);
  margin-bottom: 50px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.sect3-left-cont img {
  width: 100%;
}
.sect3-left-cont img:hover {
  border: 2px solid yellow;
  box-shadow: 4px 0 0 green, -4px 0 0 green, 0 4px 0 green, 0 -4px 0 green;
}
.sect3-left-cont .dotted {
  left: -30px;
  top: 170px;
}
.sect3 article {
  width: 55vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.sect3 article > p {
  grid-column: span 2;
  font-size: 0.8rem;
}
.sect3 .article-cont {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  border-top: 2px solid rgba(128, 128, 128, 0.363);
}

.sect3 article i {
  font-size: 1.5rem;
  color: tomato;
  margin-top: 20px;
}
.sect3 article p {
  font-size: 0.8rem;
}
.sect3 .color-btn {
  width: 120px;
  text-align: center;
  margin: auto 0;
  font-size: 0.9rem;
}
/* Section 4 new section */

.sect4 {
  background-image: url(https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-virtual-background-_Tcjok-d9b4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0;
}
.sect4 h1 {
  text-align: center;
  width: 300px;
  margin: 50px auto;
}
.sect4 .article-cont {
  max-width: 25%;
  background-color: aquamarine;
  border-radius: 10px;
}
.sect4 img {
  max-width: 100%;
  /* max-height: 60%; */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.sect4-cont {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 40px;
}
.sect4 .article-cont p {
  margin: 0 15px 20px 15px;
}
.sect4 .article-cont h5 {
  color: rgb(68, 24, 126);
  margin: 20px 15px;
}
.sect4 .read-btn {
  font-weight: bold;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.664);
  border-radius: 25px;
  text-decoration: none;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  width: 150px;
  font-size: 0.8rem;
}
.sect4 .read-btn:hover {
  color: white;
  background-color: blue;
}
/* --------- */

/* Section 5 */
.sect5-cont {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 40px 0;
}
.sect5 p {
  font-size: 0.8rem;
  color: blue;
}
.sect5 h1 {
  color: white;
  text-shadow: 2px 0 0 rgb(118, 179, 39);
  letter-spacing: 2px;
  line-height: 1.5;
}
.sect5 {
  background-image: url(https://img.freepik.com/premium-photo/wood-texture-design-decoration_36078-112.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sect5 .color-btn {
  margin: 10px 0 30px 0;
}
/* ---------- */

/* Section 6 */

.sect6 img {
  max-height: 30px;
}
.sect6 img:hover {
  max-height: 70px;
}
.sect6 {
  margin-top: 50px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  border-bottom: 1px solid lightgray;
}
.sect6 div ul {
  padding: 0;
  margin: 5px 0 20px 0;
}
.sect6 div ul li a {
  text-decoration: none;
  color: brown;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: capitalize;
}
.sect6 div ul li a:hover {
  font-size: 1.1rem;
}
.sect6 div ul li {
  list-style-type: none;
}
.sect6 h5 {
  margin: 0 0 10px 0;
  font-size: 1.2rem;
}
.sect6 h5:hover {
  border: 3px solid blue;
  padding: 5px;
  border-radius: 30px;
  width: 110px;
  text-align: center;
}

/* --------- */

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
footer i {
  font-size: 1.5rem;
  margin: 0 5px;
  color: red;
}

footer i:hover {
  font-size: 3rem;
  color: tomato;
}
