body {
  background-color: rgb(0, 20, 30);
}
header {
  box-sizing: border-box;
  height: 50px;
  background-color: rgb(33, 21, 53);
  margin-right: 10px;
  border-bottom-right-radius: 5px;
}
header a:not(.lenta) {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-family: arial;
  margin: 15px;
  /* border: 1px solid white; */
  padding-bottom: 15px;
  font-size: 14px;
}
.red {
  color: red;
  border-bottom: 2px solid red;
}
.angl {
  color: yellow;
  background-color: rgb(1, 29, 40);
  margin: 10px 10px 5px 5px;
  border-radius: 4px;
  padding-top: 2px;
  padding-bottom: 5px;
}
div > a {
  /* display: inline-block; */
  margin-right: 10px;
}
main {
  background-color: rgb(0, 20, 30);
  /* width: 98%; */
  border-top-right-radius: 3px;
  padding-bottom: 10%;
  padding-top: 10px;
}
.lenta {
  float: right;
  color: white;
  padding-right: 5px;
  padding-top: 5px;
}
span {
  /* display: inline-block; */
}
tr:nth-child(even) > td,
tr:nth-child(odd) > td:first-child {
  border-bottom: 1px solid rgb(7, 44, 61);
}
td {
  padding: 5px 5px 5px 0px;
  color: white;
}
tr:first-child > td:nth-child(2) {
  padding-right: 0, 5vw;
  padding-left: 0, 5vw;
}
.pav {
  margin-left: 3px;
  margin-right: 4px;
  /* float: left;
  max-height: 20px;
  padding-top: 10px; */
}

table {
  border-collapse: collapse;
}
tr td:last-child {
  border-left: 1px solid rgb(7, 44, 61);
  width: 15vw;
}
tr td:nth-last-child(2) {
  color: red;
  width: 5vw;
}
tr td:nth-last-child(3) {
  color: white;
  font-weight: bold;
  width: 2vw;
}
tr td:nth-last-child(4) {
  width: 45vw;
  color: white;
}
.star {
  width: 25px;
}
tr td:nth-last-child(5) {
  width: 30px;
}
img {
  width: 25px;
}
.c38 {
  background-color: rgb(1, 29, 40);
  color: #d6dbdf;
  margin: 5px;
  border-radius: 3px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 3px;
}
.bold {
  font-weight: bold;
}
