p:first-child {
  font-size: 20px;
}
p:last-child {
  color: red;
}
p:nth-child(2) {
  font-style: italic;
}
p:only-child {
  background-color: beige;
}
a:first-of-type {
  text-decoration: none;
}
a:last-of-type {
  color: aqua;
  cursor: default;
}
a:hover {
  background-color: brown;
}
h3 {
  color: blue;
}
p:first-child::first-letter {
  font-size: 30px;
  font-weight: bold;
}
.test::first-line {
  font-style: oblique;
}
a:first-of-type::before {
  content: "Pries ";
}
a:last-of-type::after {
  content: " ir viso";
  color: brown;
  font-weight: bold;
  text-decoration: none;
}
button:hover {
  color: white;
  background-color: black;
}
button:active {
  background-color: green;
}
a:visited{
  background-color: yellow;
}
