body {
  background-color: rgb(32, 39, 57);
}
h1 {
  text-align: center;
  color: rgb(78, 194, 250);
  font-weight: normal;
}
h1::after {
  content: " Rezultatų lentelė";
  color: yellow;
  /* font-weight: normal; */
}
img {
  display: block;
  background-color: white;
  width: 400px;
  border-radius: 10px;
  padding: 1rem;
  margin: auto;
}
p,
td:first-child {
  text-align: center;
  color: rgb(199, 92, 92);
  margin-top: 5px;
}
p {
  margin-top: 10px;
}
Table {
  margin: auto;
  color: rgba(255, 255, 255, 0.616);
  border-collapse: collapse;
  margin-top: 30px;
}
span {
  width: 10px;
  height: 5px;
  padding: 5px 8px;
  background-color: rgb(20, 220, 76);
  border-radius: 4px;
}
td {
  border: 2px solid rgb(32, 39, 57);
  padding: 15px;
}
tr:nth-child(even) {
  background-color: rgb(45, 52, 71);
}
tr:nth-child(odd):not(:only-child) {
  background-color: rgb(50, 60, 80);
}
th {
  padding: 0px 15px;
}
th:last-child,
th:nth-child(2) {
  text-align: left;
}
td:last-child,
td:nth-child(2) {
  padding-right: 50px;
}
/* .p{background-color: rgb(20,220,76) ;} */
.l {
  background-color: rgb(255, 205, 0);
}
.pr {
  background-color: rgb(221, 0, 0);
  font-size: 15px;
  padding: 5px 7px;
}
