div > div {
  background-color: yellow;
  text-align: center;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
div h1::before,
div h1::after,
div h2::before,
div h2::after {
  content: " XXX ";
  color: red;
  font-family: "calibri";
}
body > div {
  border: 1px solid rgba(128, 128, 128, 0.363);
  padding: 0.3rem 0.5rem;
  box-shadow: -3px -3px 6px rgba(0, 0, 0, 0.534),
    3px 3px 6px rgba(0, 0, 0, 0.534);
  margin: 2rem;
}
p {
  text-align: justify;
}
