nav {
  background-color: black;
  padding: 1rem;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
  margin-left: 1rem;
}
nav a:not(:first-child)::before {
  content: "// ";
  color: white;
}
a:not(:first-child) {
  color: rgba(190, 157, 157, 0.986);
}
a:first-child {
  color: orange;
}
a {
  text-transform: uppercase;
}
