body{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-content: center;
}
header{
    display: flex;
    justify-content: space-between;

    grid-column: 1/-1;
}
header ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}
main{
    grid-column: 3/-1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
aside{
    grid-column: span 2;
}
footer{
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
}