main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 750px;
}
.flex {
  width: 630px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  flex-direction: column;
  /* justify-content: space-between; */
  /* align-content: space-around; */
}
.child-1 {
  width: 310px;
  height: 310px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
}
.f2 {
  width: 310px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 300px;
  /* margin: auto; */
  /* justify-content: space-around; */
  gap: 10px;
}
.child-2 {
  width: 310px;
  height: 150px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
}
.child-3 {
  width: 150px;
  height: 150px;
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 150px;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}

/* grid dalis */
.gridas {
  width: 630px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 150px); */
  grid-auto-rows: 150px;
  gap: 10px;
  column-gap: 1rem;
}
.sky {
  background-color: skyblue;
  /* height: 150px; */
  text-align: center;
  line-height: 150px;
}
.d1 {
  grid-column: 1/3;
  grid-row: span 2;
  width: 310px;
  /* grid-row-start: 1;
  grid-row-end: 3; */
}
.d2 {
  grid-column: 3/5;
  width: 310px;
  /* grid-row: ; */
}
.d3,
.d4 {
  width: 148px;
}
