input[type="text"] {
  border: 2px solid black;
}
input[type="text"]:focus {
  background-color: yellow;
}
input[type="checkbox"] {
  background-color: yellow;
  accent-color: green;
}
input[type="checkbox"]:checked {
  accent-color: rgb(177, 143, 71);
  visibility: hidden;
}
input:required {
  border: 2px solid green;
}
input:optional {
  border: 3px dotted yellow;
}
a:active {
  color: blue;
}
a:link {
  color: aqua;
}
/* a link nuspalvina nelenkytus puslapius */
a:visited {
  font-style: italic;
  color: rgb(203, 230, 87);
}
.number-input:in-range {
  background-color: green;
}
.number-input:out-of-range {
  background-color: red;
}
input:read-only {
  background-color: grey;
}
