body{
    background-color: rgb(85, 84, 84);
}
main {
  background-color: rgb(85, 84, 84);
  /* width: 90%; */
  margin: auto;
  text-align: center;
  color: white;
  font-size: 20px;
}
input:read-only {
  background-color: rgb(196, 187, 187);
  font-weight: bold;
}
input {
  padding: 5px 5px;
}
span {
  background-color: rgb(243, 131, 206);
}
#opt {
  background-color: transparent;
  font-size: 18px;
}
button {
  background-color: rgb(29, 133, 29);
  color: white;
  font-size: 20px;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-top: 10px;
  /* box-shadow: 2px 2px black, -2px -2px violet; */
  
}
button:hover {
  background-color: darkgreen;
}
#age {
  width: 50px;
}
input[type="checkbox"]:checked + label {
  color: blue;
}
input:invalid {
  border: 2px solid red;
}
input:valid {
  border: 2px solid green;
}
input:required{
    border-left: 2px solid violet;
}