* {
  box-sizing: border-box;
}
body {
  background-color: rgb(248, 250, 252);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
h4,
h5 {
  font-weight: 400;
}

header a:last-child {
  margin-right: 20px;
}
header ul li {
  list-style-type: none;
}
header {
  height: 5%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
header ul {
  display: flex;
  max-height: 30px;
  align-items: center;
}
header ul li a:hover {
  opacity: 0.6;
}
form {
  width: 90%;
}
header h4 {
  margin-left: 20px;
  font-weight: bold;
}
.task-form h4 {
  text-align: center;
}
.head-cont {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
header div span {
  color: blueviolet;
}

.task-form {
  width: 30rem;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  padding: 1rem 0;
}
.edit-task-form {
  width: 30rem;
  background-color: white;
  display: flex;
  justify-content: center;
  margin: 3rem auto;
  padding: 1rem 0;
}
.task-form p {
  font-size: 10px;
  margin: 5px 0px 20px 0px;

  color: brown;
}
.task-form input[type="text"] {
  background-color: rgb(248, 250, 252);
  border: 1px solid lightgray;
  padding: 2px 7px;
  border-right: none;
  width: 80%;
}

.add-button {
  width: 5rem;
  background-color: rgb(100, 92, 255);
  color: white;
  border: none;
  padding: 3px;
  border-radius: 3px;
}
.add-button:hover {
  background-color: rgb(94, 27, 156);
}
main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.box2 {
  background-color: white;
  width: 30rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  padding: 1rem 2.5rem;
}
.box2:hover {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.box-shadow {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.box2 .fa-check-circle {
  margin-left: -1.25rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  visibility: hidden;
}
/* .box2 h5{
    display: flex;
    justify-content: space-between;
    
} */
.edit-task,
.delete-btn {
  border: transparent;
  background-color: transparent;
  color: black;
  font-size: 0.75rem;
  cursor: pointer;
}

/* .box2 h5 span {
  box-sizing: border-box;
} */
.task-end {
  text-decoration: line-through;
}
.task-end .fa-check-circle {
  visibility: visible;
}
.edit-task-form h4 {
  text-align: center;
  font-weight: 550;
}
.edit-button {
  width: 100%;
  background-color: rgb(100, 92, 255);
  color: white;
  border: none;
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.edit-button:hover {
  background-color: rgb(94, 27, 156);
}
.edit-task-form p {
  text-align: center;
  font-size: small;
  margin-top: 15px;
}
/* .task-in {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-content: space-between;
} */
.task-in div {
  margin: 10px 0px;
}
.task-in input {
  width: 70%;
}
.task-in input[type="checkbox"] {
}
.div2 {
  display: flex;
  justify-content: space-between;
}

.back-btn {
  /* width: 10rem; */
  background-color: black;
  color: white;
  margin-bottom: 50px;
  padding: 5px 35px;
  border-radius: 5px;
  cursor: pointer;
}
.back-btn:hover {
  opacity: 0.7;
}
.task-in #id {
  border: none;
}
.task-in #name {
  border: 1px solid lightgray;
  background-color: rgb(248, 250, 252);
  border-radius: 3px;
}
.chk {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
