#uzd1 {
  display: flex;
  max-width: 1100px;
  flex-wrap: wrap;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 300px;
}
.forma {
  display: flex;
  width: 90%;
  flex-direction: column;
}
.item {
  width: 90%;
  margin: 10px auto;
}
#addButton,
#cancelButton {
  width: 250px;
  align-self: center;
  margin-top: 10px;
  color: white;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}
#cancelButton {
  background-color: red;
}
#addButton {
  background-color: green;
}
h4 {
  text-align: center;
  width: 90%;
  font-size: 30px;
}
