.grid-cont{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 33vh;
    gap: 0.5rem;
}
.grid-cont div{
    background-color: tomato;
}
.item4 {
display: none;
}
@media screen and (min-width: 600px) {
    .grid-cont{
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        grid-auto-rows: 50vh;
    }
    .item1 {
        grid-column: span 4;
    }
    .item2{
        grid-column: span 2;
    }
  .item4{
    display: grid;
  }
}

@media screen and (min-width: 1000px) {
    .item1{
        grid-row: span 2;
        grid-column: span 2;
    }
}