@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,300,100|Open+Sans+Condensed:300);

body {
  background: #fff linear-gradient(to bottom, #3f567c, #b5ccc6) no-repeat;
  font-family: Open Sans, sans-serif;
}

menu {
  padding-left: 0;
}

a {
  text-decoration: none;
}

.window {
  margin: auto;
  border-radius: 5px;
  background: #fff;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.window .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background: #24282c;
  transition-duration: 0.3s;
  color: #ddd;
}

.separator {
  border-top: 1px solid #111111;
  border-bottom: 1px solid #353535;
  margin: 20px;
}

.logo {
  padding-left: 10px;
}

.window .sidebar .menu a {
  color: #ddd;
  text-decoration: none;
}

.menu-name {
  text-transform: uppercase;
  padding: 0 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

/* .no-bullets {
  list-style-type: disc;
} */

.window .sidebar .menu > ul > li {
  list-style: none;
}

.window .sidebar .menu > ul > li > a {
  position: relative;
  font-size: 14px;
  padding: 10px 5px;
  display: block;
  font-weight: bold;
}

.window .sidebar .menu > ul > li.active {
  list-style-type: disc;
  color: #ff3a3a;
  padding-bottom: 10px;
}

.window .sidebar .menu > ul > li.active > a {
  padding-bottom: 0;
}

.window .sidebar .menu > ul > li.active ul {
  display: block;
  margin-top: 5px;
}

.window .sidebar .menu > ul > li.active ul li.active a {
  color: #fff;
  font-weight: bold;
}

.window .sidebar .menu > ul > li.active ul li a {
  padding: 5px;
  display: block;
  font-size: 13px;
  color: #888;
}

.window .sidebar .menu > ul > li ul {
  display: none;
}

.window .main {
  margin-left: 250px;
  position: relative;
}

.title-bar {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.left {
  float: left;
  font-size: 15px;
  text-transform: uppercase;
}

.grey {
  color: #999;
}

.bold {
  font-weight: bold;
}

.left p {
  display: inline-block;
  margin-right: 10px;
}

.window .main .movie-list .title-bar .right {
  float: right;
}

.window .main .movie-list .title-bar .right a {
  color: #999;
  margin-left: 10px;
}

.window .main .movie-list .title-bar .right a.blue {
  color: #279ceb;
}

.window .main .movie-list .list {
  list-style-type: none;
}

.window .main .movie-list .list li {
  padding-bottom: 30px;
  margin-right: 20px;
  position: relative;
}

.window .main .movie-list .list li .title {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 4px;
}

.window .main .movie-list .list li .genre {
  color: #999;
  font-size: 12px;
}
