html{font-family: 'Roboto', sans-serif;}
aside {
  position: absolute;
  background-color: rgba(21, 21, 22, 0.897);
  color: white;
  top: 0;
  left: 0;
  width: 250px;
  padding-bottom: 20%;
}
h1 {
  margin-left: 10px;
}
ul li {
  margin: 10px;
  font-weight: bold;
  /* list-style: none; */
}
.list2 {
  padding-top: 20px;
}
main {
  /* background-color: rgb(181, 236, 236); */
  margin-left: 250px;
  height: 100%;
}
.topmenu {
  text-align: right;
  padding-top: 10px;
  padding-right: 25px;
}
div a {
  margin-right: 5px;
  font-size: 12px;
  text-decoration: none;
  color: grey;
}
div a:first-child {
  color: rgb(47, 166, 206);
}
.grey {
  color: grey;
}
#span1 {
  padding-left: 15px;
  padding-right: 10px;
  font-weight: bold;
}
iframe {
  margin-left: 30px;
  padding-right: 30px;
  width: 95%;
  height: 300px;
}
.box {
  box-sizing: border-box;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 20px;
  border-top: 2px solid rgba(0, 0, 0, 0.096);
}
p {
  padding-left: 30px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
.bold {
  font-weight: bold;
}
.p2 {
  padding-top: 0px;
  margin-top: 0px;
  color: grey;
  font-size: 12px;
}
.box2 {
  box-sizing: border-box;
  padding-right: 10px;
  padding-top: 10px;
  margin-top: 20px;
}
.inactive {
  list-style-type: none;
}
/* li:nth-last-child(2){list-style-type: none;} */
.border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.164);
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.164);
  padding-bottom: 20px;
}
.pad {
  padding-top: 20px;
}
li a {
  color: grey;
}
ul > li.act {
  list-style-type: disc;
  /* color: #ff3a3a; */
  padding-bottom: 10px;
}
a {
  text-decoration: none;
}
aside > ul > ul> li::marker,ul :first-of-type::marker {
  color: red;
}
.act{color: white;}