.bold {
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

header {
  text-align: center;
  background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?q=10&h=200);
  background-position: center center;
  padding: 15px;
}

header img {
  max-width: 100px;
}

header nav a {
  margin-right: 15px;
}

main {
  background-color: lightblue;
  max-width: 500px;
  margin: auto;
  padding: 15px;
  box-shadow: 5px 10px 5px rgb(235, 81, 81);
}

section h2 {
  text-align: center;
}

section p {
  text-align: justify;
}

li label {
  display: inline-block;
  width: 100px;
}

footer {
  text-align: center;
  background-image: url(https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?q=10&h=200);
  background-position: center center;
  padding: 10px;
  padding-top: 5px;
}

footer a {
  text-decoration: none;
  background-color: yellow;
  padding: 5px;
  color: rgb(161, 26, 26);
  border-radius: 10px;
}
