body{background-color: blueviolet;}
.container{border: 3px dashed;
width: 500px;
color: darkorange;
text-align: center;
margin: auto;
background-color: rgb(61, 26, 26,50%);
padding: 30px;
text-shadow: 5px 5px 5px rgb(12, 1, 1);}
img{width: 70%;
border-bottom: 50px solid green;
border-top: 50px solid white;
border-right: 50px solid rgb(19, 2, 2);
border-left: 50px solid rgb(22, 43, 231);
border-radius: 70px;


}
.main-heading{
    color: yellow;
}
p{margin-bottom: 100px;
text-align: justify;}
.large-letter{font-size: 40px;}
